<br/><br/>
<% if @user.profile=="profile.png" || @user.profile=="" %>
<h1><%=  image_tag('profile.png', style:"border-radius: 15px; width: 100px; heigth: 100px;") %><%= @user.name %>のページ</h1>
<% else %>
<h1><%=  image_tag(@user.profile.url) if @user.profile && @user.profile.url  %><%= @user.name %>のページ</h1>
<% end %>
<p>メールアドレス: <%= @user.email %></p>

<%= link_to "Update your profile", edit_user_path(@user.id), class: "badge bg-info", style: "font-size: 20px" %>

