<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @post.image.url %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<% if current_user.id == @post.user_id %> 
<%= link_to 'Edit', edit_post_path(@post) %> |
<%end%>
<%= link_to 'Back', posts_path %>
